<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <%= form_for(@micropost) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
      <% end %>
      <ul>
        <li><%= link_to "#{@user.name}のMicroposts", user_path(@user) %></li>
        <li><%= link_to "#{@user.name}のFollowings", followings_user_path(@user) %></li>
        <li><%= link_to "#{@user.name}のFollowers", followers_user_path(@user) %></li>
        <li><%= link_to "#{@user.name}のFavorites", favorite_posts_user_path(@user) %></li>
      </ul>
    </aside>
    <div class="col-xs-8">
      <%= render 'microposts/microposts', microposts: @microposts %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Microposts</h1>
      <%= link_to 'Sign up now', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
  </div>
<% end %>